<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.1.xsd">

	<!-- 注解扫描包 -->
	<context:property-placeholder   location="classpath*:*.properties" />
	<context:component-scan base-package="cn.vpclub.pinganquan.mobile.*"/>

	<!-- 引入同文件夹下的redis属性配置文件 -->
	<import resource="spring-context-jdbc.xml"/>
	<import resource="spring-context-redis.xml"/>
	<import resource="spring-mvc-beanDefine.xml"/>
</beans>